events-detail.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8"/>
    <meta name="description" content="Free Web tutorials"/>
    <meta name="keywords" content="HTML,CSS,XML,JavaScript"/>
    <meta name="author" content="John Doe"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="theme-color" content="#ffffff"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;display=swap"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.0/css/mdb.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="fonts/stylesheet.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <title>Title page</title>
    <!--title your page 'about-us' example-->
  </head>
  <body>
    <header>
      <div class="container"><a class="logo" href="index.html"></a>
        <ul class="nav">
          <li><a href="events.html">Events</a></li>
          <li><a href="">Articles</a></li>
          <li><a href="">Contact</a></li>
          <li><a class="login" href="login.html">Login</a></li>
        </ul>
      </div>
    </header>
    <main>
      <div class="events">
        <div class="container">
          <div class="head">
            <div class="bread-crumbs"><a href="events.html">Events /</a><a class="active" href="events-detail.html">How to score 8+ in IELTS</a></div>
          </div>
          <div class="content">
            <div class="img"><img src="https://scontent.ffru7-1.fna.fbcdn.net/v/t1.0-9/100696901_3226677207389668_3684801783546249216_n.jpg?_nc_cat=104&amp;_nc_sid=110474&amp;_nc_ohc=zemM87151e0AX903Xh4&amp;_nc_ht=scontent.ffru7-1.fna&amp;oh=40c0eadab97c9b4ca39e55d75afcf1ad&amp;oe=5EF84B44"/></div>
            <div class="detail">
              <div class="title">How to score 8+ in IELTS</div>
              <p>Country: KYRGYZSTAN</p>
              <p>Category: Education</p>
              <p>Date: 10.21.2020</p>
              <p>Where: Zoom, link : <a href=''>https://us04web.zoom.us/wc/join/74003923241?wpk=wcpkd34e796727c277175d4ea9b01dfd260c</a></p>
              <p>Description: <br> Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32. The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <div class="social-icons"><a href="" target="_blank"><i class="fab fa-facebook-f mr-3"></i></a><a href="" target="_blank"><i class="fab fa-twitter mr-3"></i></a><a href="" target="_blank"><i class="fab fa-youtube mr-3"></i></a><a href="" target="_blank"><i class="fab fa-google-plus-g mr-3"></i></a><a href="" target="_blank"><i class="fab fa-github mr-3"></i></a></div>
      <div class="container">
        <p>© 2020 Copyright: WEvents</p>
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="js/libs.js"></script>
    <script src="js/main.js"></script>
    <scripts></scripts>
  </body>
</html>

#source/pug/events-detail.pug
extends base/_base

block title
    title="Title page"
    //title your page 'about-us' example

block content
    main
        .events
            .container
                .head
                    .bread-crumbs
                        a(href='events.html') Events /
                        a(href='events-detail.html').active How to score 8+ in IELTS
                .content
                  .img
                    img(src='https://scontent.ffru7-1.fna.fbcdn.net/v/t1.0-9/100696901_3226677207389668_3684801783546249216_n.jpg?_nc_cat=104&_nc_sid=110474&_nc_ohc=zemM87151e0AX903Xh4&_nc_ht=scontent.ffru7-1.fna&oh=40c0eadab97c9b4ca39e55d75afcf1ad&oe=5EF84B44')
                  .detail
                    .title How to score 8+ in IELTS
                    p Country: KYRGYZSTAN
                    p Category: Education
                    p Date: 10.21.2020
                    p Where: Zoom, link : <a href=''>https://us04web.zoom.us/wc/join/74003923241?wpk=wcpkd34e796727c277175d4ea9b01dfd260c</a>
                    p Description: <br> Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32. The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
block scripts
    scripts
