events.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8"/>
    <meta name="description" content="Free Web tutorials"/>
    <meta name="keywords" content="HTML,CSS,XML,JavaScript"/>
    <meta name="author" content="John Doe"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="theme-color" content="#ffffff"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;display=swap"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.0/css/mdb.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="fonts/stylesheet.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <title>Title page</title>
    <!--title your page 'about-us' example-->
  </head>
  <body>
    <header>
      <div class="container"><a class="logo" href="index.html"></a>
        <ul class="nav">
          <li><a href="events.html">Events</a></li>
          <li><a href="">Articles</a></li>
          <li><a href="">Contact</a></li>
          <li><a class="login" href="login.html">Login</a></li>
        </ul>
      </div>
    </header>
    <main>
      <div class="events">
        <div class="container">
          <div class="head">
            <div class="bread-crumbs"><a href="">Events /</a></div>
            <div class="sort">
              <select class="mdb-select md-form">
                <option value="" disabled="" selected="">Select Categories</option>
                <option value="1">Art</option>
                <option value="2">Music</option>
                <option value="3">Self-development</option>
                <option value="3">IT</option>
                <option value="3">STEM</option>
              </select>
              <div class="button">Seacrh</div>
            </div>
          </div>
          <div class="grid">
            <div>
              <div class="item"><a class="link" href="events-detail.html"></a><img src="https://scontent.ffru7-1.fna.fbcdn.net/v/t1.0-9/100696901_3226677207389668_3684801783546249216_n.jpg?_nc_cat=104&amp;_nc_sid=110474&amp;_nc_ohc=zemM87151e0AX903Xh4&amp;_nc_ht=scontent.ffru7-1.fna&amp;oh=40c0eadab97c9b4ca39e55d75afcf1ad&amp;oe=5EF84B44"/>
                <div class="text">
                  <h2 class="animate-text">&ldquo;How to score 8+ in IELTS&rdquo;</h2>
                  <p class="animate-text">
                    Bishkek American Center will be launching a series of webinar sessions &ldquo;How to score 8+ in IELTS&rdquo; with FLEX alumna Akylai Otkulbek Kyzy.
                    As you know, IELTS is the International English Language Testing System and based on its results people are accepted to the universities worldwide.
                  </p>
                  <div class="dots"><span></span><span></span><span></span></div>
                </div>
              </div>
            </div>
            <div>
              <div class="item"><a class="link" href="events-detail.html"></a><img src="https://scontent.ffru7-1.fna.fbcdn.net/v/t1.0-9/p960x960/101743645_1643121612523914_7866860333569146880_o.jpg?_nc_cat=104&amp;_nc_sid=2d5d41&amp;_nc_ohc=fSsI4EIdKVEAX89HCq4&amp;_nc_ht=scontent.ffru7-1.fna&amp;_nc_tp=6&amp;oh=268be481318b22a370cbddb6e2385f1b&amp;oe=5EF672A6"/>
                <div class="text">
                  <h2 class="animate-text">CodifyLive Talks with JS mentor Abai Baktybek</h2>
                  <p class="animate-text">Join us</p>
                  <div class="dots"><span></span><span></span><span></span></div>
                </div>
              </div>
            </div>
            <div>
              <div class="item"><img src="https://scontent.ffru7-1.fna.fbcdn.net/v/t1.0-9/s960x960/95664812_2756157714660847_8011707847928709120_o.jpg?_nc_cat=110&amp;_nc_sid=2d5d41&amp;_nc_ohc=V1Qc_bQWjd0AX_uGzKG&amp;_nc_ht=scontent.ffru7-1.fna&amp;_nc_tp=7&amp;oh=231eba99904d5c4d3b3167995871e6f9&amp;oe=5EFA0771"/>
                <div class="text">
                  <h2 class="animate-text">High Tech Space</h2>
                  <p class="animate-text">Bacon ipsum dolor amet pork belly tri-tip turducken, pancetta bresaola pork chicken meatloaf. Flank sirloin strip steak prosciutto kevin turducken.</p>
                  <div class="dots"><span></span><span></span><span></span></div>
                </div>
              </div>
            </div>
            <div>
              <div class="item"><img src="https://images.unsplash.com/photo-1464054313797-e27fb58e90a9?dpr=1&amp;auto=format&amp;crop=entropy&amp;fit=crop&amp;w=1500&amp;h=996&amp;q=80"/>
                <div class="text">
                  <h1>Lorem ipsum.</h1>
                  <h2 class="animate-text">More lorem ipsum bacon ipsum.</h2>
                  <p class="animate-text">Bacon ipsum dolor amet pork belly tri-tip turducken, pancetta bresaola pork chicken meatloaf. Flank sirloin strip steak prosciutto kevin turducken.</p>
                  <div class="dots"><span></span><span></span><span></span></div>
                </div>
              </div>
            </div>
            <div>
              <div class="item"><img src="https://images.unsplash.com/photo-1464054313797-e27fb58e90a9?dpr=1&amp;auto=format&amp;crop=entropy&amp;fit=crop&amp;w=1500&amp;h=996&amp;q=80"/>
                <div class="text">
                  <h1>Lorem ipsum.</h1>
                  <h2 class="animate-text">More lorem ipsum bacon ipsum.</h2>
                  <p class="animate-text">Bacon ipsum dolor amet pork belly tri-tip turducken, pancetta bresaola pork chicken meatloaf. Flank sirloin strip steak prosciutto kevin turducken.</p>
                  <div class="dots"><span></span><span></span><span></span></div>
                </div>
              </div>
            </div>
            <div>
              <div class="item"><img src="https://images.unsplash.com/photo-1464054313797-e27fb58e90a9?dpr=1&amp;auto=format&amp;crop=entropy&amp;fit=crop&amp;w=1500&amp;h=996&amp;q=80"/>
                <div class="text">
                  <h1>Lorem ipsum.</h1>
                  <h2 class="animate-text">More lorem ipsum bacon ipsum.</h2>
                  <p class="animate-text">Bacon ipsum dolor amet pork belly tri-tip turducken, pancetta bresaola pork chicken meatloaf. Flank sirloin strip steak prosciutto kevin turducken.</p>
                  <div class="dots"><span></span><span></span><span></span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <div class="social-icons"><a href="" target="_blank"><i class="fab fa-facebook-f mr-3"></i></a><a href="" target="_blank"><i class="fab fa-twitter mr-3"></i></a><a href="" target="_blank"><i class="fab fa-youtube mr-3"></i></a><a href="" target="_blank"><i class="fab fa-google-plus-g mr-3"></i></a><a href="" target="_blank"><i class="fab fa-github mr-3"></i></a></div>
      <div class="container">
        <p>© 2020 Copyright: WEvents</p>
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="js/libs.js"></script>
    <script src="js/main.js"></script>
    <scripts></scripts>
  </body>
</html>

#source/pug/events.pug
extends base/_base

block title
    title="Title page"
    //title your page 'about-us' example

block content
    main
        .events
            .container
                .head
                    .bread-crumbs
                        a(href='') Events /
                    .sort
                        select.mdb-select.md-form
                           option(value='' disabled='' selected='') Select Categories
                           option(value="1") Art
                           option(value="2") Music
                           option(value="3") Self-development
                           option(value="3") IT
                           option(value="3") STEM
                        .button Seacrh
                .grid
                    div
                        .item
                          a.link(href='events-detail.html')
                          img(src='https://scontent.ffru7-1.fna.fbcdn.net/v/t1.0-9/100696901_3226677207389668_3684801783546249216_n.jpg?_nc_cat=104&_nc_sid=110474&_nc_ohc=zemM87151e0AX903Xh4&_nc_ht=scontent.ffru7-1.fna&oh=40c0eadab97c9b4ca39e55d75afcf1ad&oe=5EF84B44')
                          .text
                            h2.animate-text &ldquo;How to score 8+ in IELTS&rdquo;
                            p.animate-text
                              | Bishkek American Center will be launching a series of webinar sessions &ldquo;How to score 8+ in IELTS&rdquo; with FLEX alumna Akylai Otkulbek Kyzy.
                              | As you know, IELTS is the International English Language Testing System and based on its results people are accepted to the universities worldwide.
                            .dots
                              span
                              span
                              span
                    div
                        .item
                          a.link(href='events-detail.html')
                          img(src='https://scontent.ffru7-1.fna.fbcdn.net/v/t1.0-9/p960x960/101743645_1643121612523914_7866860333569146880_o.jpg?_nc_cat=104&_nc_sid=2d5d41&_nc_ohc=fSsI4EIdKVEAX89HCq4&_nc_ht=scontent.ffru7-1.fna&_nc_tp=6&oh=268be481318b22a370cbddb6e2385f1b&oe=5EF672A6')
                          .text
                            h2.animate-text CodifyLive Talks with JS mentor Abai Baktybek
                            p.animate-text Join us
                            .dots
                              span
                              span
                              span
                    div
                        .item
                          img(src='https://scontent.ffru7-1.fna.fbcdn.net/v/t1.0-9/s960x960/95664812_2756157714660847_8011707847928709120_o.jpg?_nc_cat=110&_nc_sid=2d5d41&_nc_ohc=V1Qc_bQWjd0AX_uGzKG&_nc_ht=scontent.ffru7-1.fna&_nc_tp=7&oh=231eba99904d5c4d3b3167995871e6f9&oe=5EFA0771')
                          .text
                            h2.animate-text High Tech Space
                            p.animate-text
                              | Bacon ipsum dolor amet pork belly tri-tip turducken, pancetta bresaola pork chicken meatloaf. Flank sirloin strip steak prosciutto kevin turducken.
                            .dots
                              span
                              span
                              span
                    div
                        .item
                          img(src='https://images.unsplash.com/photo-1464054313797-e27fb58e90a9?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=996&q=80')
                          .text
                            h1 Lorem ipsum.
                            h2.animate-text More lorem ipsum bacon ipsum.
                            p.animate-text
                              | Bacon ipsum dolor amet pork belly tri-tip turducken, pancetta bresaola pork chicken meatloaf. Flank sirloin strip steak prosciutto kevin turducken.
                            .dots
                              span
                              span
                              span
                    div
                        .item
                          img(src='https://images.unsplash.com/photo-1464054313797-e27fb58e90a9?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=996&q=80')
                          .text
                            h1 Lorem ipsum.
                            h2.animate-text More lorem ipsum bacon ipsum.
                            p.animate-text
                              | Bacon ipsum dolor amet pork belly tri-tip turducken, pancetta bresaola pork chicken meatloaf. Flank sirloin strip steak prosciutto kevin turducken.
                            .dots
                              span
                              span
                              span
                    div
                        .item
                          img(src='https://images.unsplash.com/photo-1464054313797-e27fb58e90a9?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=996&q=80')
                          .text
                            h1 Lorem ipsum.
                            h2.animate-text More lorem ipsum bacon ipsum.
                            p.animate-text
                              | Bacon ipsum dolor amet pork belly tri-tip turducken, pancetta bresaola pork chicken meatloaf. Flank sirloin strip steak prosciutto kevin turducken.
                            .dots
                              span
                              span
                              span
block scripts
    scripts
