login.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8"/>
    <meta name="description" content="Free Web tutorials"/>
    <meta name="keywords" content="HTML,CSS,XML,JavaScript"/>
    <meta name="author" content="John Doe"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="theme-color" content="#ffffff"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;display=swap"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.0/css/mdb.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="fonts/stylesheet.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <title>WEvents</title>
  </head>
  <body>
    <header>
      <div class="container"><a class="logo" href="index.html"></a>
        <ul class="nav">
          <li><a href="events.html">Events</a></li>
          <li><a href="">Articles</a></li>
          <li><a href="">Contact</a></li>
          <li><a class="login" href="login.html">Login</a></li>
        </ul>
      </div>
    </header>
    <main class="register">
      <div class="container">
        <div class="row"><img class="logo" src="img/logo1.png" width="200" height="200"/>
          <div class="col-md-12">
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active text-align form-new" id="home" role="tabpanel" aria-labelledby="home-tab">
                <h3 class="register-heading">Registration form</h3>
                <div class="register-form">
                  <form method="post">
                    <div class="form-group">
                      <input class="form-control" type="text" name="user_name" placeholder="Your Email" value="" required=""/>
                    </div>
                    <div class="form-group">
                      <input class="form-control" type="password" name="password_name" placeholder="Your Password " value="" required=""/>
                    </div>
                    <div class="form-group">
                      <input class="form-control" type="number" name="phone_number" placeholder="Your Phone number " value="" required=""/>
                    </div>
                    <div class="form-group">
                      <select class="form-control" id="Select">
                        <option>Art</option>
                        <option>Public Speaking</option>
                        <option>IT</option>
                        <option>Music</option>
                        <option>Leadership</option>
                        <option>Language</option>
                        <option>Online Resources</option>
                        <option>DIY</option>
                        <option>Health</option>
                        <option>Business</option>
                        <option>Math</option>
                      </select>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" id="inlineCheckbox1" type="checkbox" value="option1"/>
                      <label class="form-check-label" for="inlineCheckbox1">User</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" id="inlineCheckbox2" type="checkbox" value="option2"/>
                      <label class="form-check-label" for="inlineCheckbox2">Organization</label>
                    </div>
                    <div class="form-group">
                      <input class="btnContactSubmit" type="submit" name="LGform1" value="Login"/><a class="btnForgetPwd" href="" value="Login">Forget Password?</a>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <div class="social-icons"><a href="" target="_blank"><i class="fab fa-facebook-f mr-3"></i></a><a href="" target="_blank"><i class="fab fa-twitter mr-3"></i></a><a href="" target="_blank"><i class="fab fa-youtube mr-3"></i></a><a href="" target="_blank"><i class="fab fa-google-plus-g mr-3"></i></a><a href="" target="_blank"><i class="fab fa-github mr-3"></i></a></div>
      <div class="container">
        <p>© 2020 Copyright: WEvents</p>
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="js/libs.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>

#source/pug/login.pug
extends base/_base

block title
    title="WEvents"

block content
    main.register
        .container
          .row
            img.logo(src='img/logo1.png' width='200' height='200')
            .col-md-12
              #myTabContent.tab-content
                #home.tab-pane.fade.show.active.text-align.form-new(role='tabpanel' aria-labelledby='home-tab')
                  h3.register-heading Registration form
                  .register-form
                      form(method='post')
                        .form-group
                          input.form-control(type='text' name='user_name' placeholder='Your Email' value='' required='')
                        .form-group
                          input.form-control(type='password' name='password_name' placeholder='Your Password ' value='' required='')
                        .form-group
                          input.form-control(type='number' name='phone_number' placeholder='Your Phone number ' value='' required='')
                        .form-group
                          select#Select.form-control
                            option Art
                            option Public Speaking
                            option IT
                            option Music
                            option Leadership
                            option Language
                            option Online Resources
                            option DIY
                            option Health
                            option Business
                            option Math
                        .form-check.form-check-inline
                          input#inlineCheckbox1.form-check-input(type='checkbox' value='option1')
                          label.form-check-label(for='inlineCheckbox1') User
                        .form-check.form-check-inline
                          input#inlineCheckbox2.form-check-input(type='checkbox' value='option2')
                          label.form-check-label(for='inlineCheckbox2') Organization
                        .form-group
                          input.btnContactSubmit(type='submit' name='LGform1' value='Login')
                          a.btnForgetPwd(href='' value='Login') Forget Password?
block scripts
